{% extends 'base.html.twig' %}
{% block title %}Prévention contre le cancer - Association Nourane{% endblock %}

{% block body %}
<div class="inner-banner">
    <div class="container">
        <h2>Prévention contre le cancer </h2>
        <ol class="breadcrumb">
            <li><a href="{{ path('index') }}">Acceuil</a></li>
            <li><a href="{{ path('article1') }}">Prévention contre le cancer</a></li>
        </ol>
    </div>
</div>
<!--CONTENT START-->
<div class="content">
    <div class="container">
        <div class="content-cover">
            <div class="row">
                <!--PAGE CONTENT START-->
                <div class="col-lg-8">
                    <!--BLOG LIST START-->
                    <div class="kode-blog-detail">
                        <!--BLOG DETAIL TEXT START-->
                        <div class="kode-text">
                            <h2>Prévention contre le cancer</h2>


                            <p>
                                Un tiers au moins de l’ensemble des cas de cancer sont évitables. La prévention constitue la stratégie à long terme la plus rentable pour lutter contre le cancer.
                                La prévention primaire est toute action mise en œuvre avant l’apparition de la maladie : éducation à la santé, vaccination, diagnostic d’état précancéreux… Elle est améliorée par la connaissance des facteurs de risque des cancers les plus fréquents chez l’homme et chez la femme.
                            </p>
                            <blockquote>30 règles individuelles pour éviter l'apparition des cancers
                                Retrouvez ces règles dans le livre du Pr. Belpomme, "Guérir du cancer ou s'en protéger".
                            </blockquote>
                            <div class="row">
                                <div class="col-md-6">
                                    <ul>
                                        <li><b>règle n°1 :</b> Ne pas fumer !</li>
                                        <li><b>règle n°2 :</b> Boire de l'alcool modérément, privilégier la qualité sur la quantité. Choisir son vin.</li>
                                        <li><b>règle n°3 :</b> Lutter contre le surpoids et consommer des aliments variés</li>
                                        <li><b>règle n°4 :</b> Limiter l'ingestion des graisses animales, préférer les huiles végétales</li>
                                        <li><b>règle n°5 :</b> Manger régulièrement du poisson de préférence non gras</li>
                                        <li><b>règle n°6 :</b> Choisir ses aliments</li>
                                        <li><b>règle n°7 :</b> Limiter la consommation de champignons</li>
                                        <li><b>règle n°8 :</b> Ne pas abuser des grillades</li>
                                        <li><b>règle n°9 :</b> Utiliser de l'eau minérale</li>
                                        <li><b>règle n°10 :</b> Pour l'achat de ses aliments, faire confiance aux petits artisans, privilégier les cycles courts de distribution</li>
                                        <li><b>règle n°11 :</b> Apprendre à lire les étiquettes, l'effet néfaste de nombreux alicaments</li>
                                        <li><b>règle n°12 :</b> Consommer régulièrement des céréales</li>
                                        <li><b>règle n°13 :</b> Manger des fruits et légumes</li>
                                        <li><b>règle n°14 :</b> Consommer des légumes à feuilles, frais et si possible crus. Les consommer après les avoir lavés et correctement épluchés. Ne pas les consommer après avoir attendu plusieurs jours et ne pas les faire trop cuire.</li>
                                        <li><b>règle n°15 :</b> Consommer les fruits avec la peau</li>
                                    </ul>
                                </div>
                                <div class="col-md-6">
                                    <ul>
                                        <li><b>règle n°16 :</b> Utiliser largement le réfrigérateur</li>
                                        <li><b>règle n°17 :</b> Manger bio autant que possible</li>
                                        <li><b>règle n°18 :</b> Choisir son lieu de vie</li>
                                        <li><b>règle n°19 :</b> Aérer et dépoussiérer son lieu de vie</li>
                                        <li><b>règle n°20 :</b> Limiter l'usage des nettoyants ménagers, déodorisants et parfums d'intérieur</li>
                                        <li><b>règle n°21 :</b> Limiter l'usage des produits de beauté, cosmétiques et teintures capillaires</li>
                                        <li><b>règle n°22 :</b> Ne pas s'exposer au soleil, proscrire le bronzage artificiel en cabine</li>
                                        <li><b>règle n°23 :</b> Se protéger des radiations électromagnétiques pulsées (REMP)</li>
                                        <li><b>règle n°24 :</b> Ne pas abuser des médicaments et limiter le nombre des investigations d'imagerie médicale</li>
                                        <li><b>règle n°25 :</b> Lutter contre le stress</li>
                                        <li><b>règle n°26 :</b> Eviter d'avoir de multiples partenaires sexuels</li>
                                        <li><b>règle n°27 :</b> Avoir des enfants avant 30 ans</li>
                                        <li><b>règle n°28 :</b> Allaiter le plus longtemps possible son enfant</li>
                                        <li><b>règle n°29 :</b> Utiliser avec précaution la pilule contraceptive et traitements substitutifs de la ménopause</li>
                                        <li><b>règle n°30 :</b> Cancers professionnels : la nécessité de protéger les travailleurs</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!--BLOG DETAIL TEXT END-->
                        <!--SHARE BLOG START-->
                        <div class="kode-blog-option">
                            <div class="kode-tags">
                                <i class="fa fa-tags"></i>
                                <a target="_blank" href="https://www.artac.info/fr/prevention/prevention-environnementale/30-regles-individuelles_000031.html">Source:
                                </a>
                                https://www.artac.info/fr/prevention/prevention-environnementale/30-regles-individuelles_000031.html

                            </div>
                        </div>
                        <!--SHARE BLOG END-->
                    </div>

                </div>
                <!--PAGE CONTENT END-->
<div class="col-lg-4">
    <img style="width: 500px" src="{{ asset('images/Prévention.png') }}">

</div>
            </div>
        </div>
    </div>
</div>
{% endblock %}