{% extends 'base.html.twig' %}
{% block title %}Merci pour votre soutien - Association Nourane{% endblock %}

{% block body %}
    <img src="{{ asset('images/thanksnourane.jpg') }}" alt="thanks nourane" width="100%" height="70%"/>

    <!--CONTENT START-->
    <div class="content">

        <div class="container">

        </div>
        <section class="buy-template">
            <div class="container">
                <h2>MERCI POUR VOTRE SOUTIEN !</h2>
                <h4>Grâce à vous, la lutte contre le cancer s'accélère. Votre don est une force pour transformer
                    l'espoir en progrès, au bénéfice direct des patients.
                    Au nom des patients et de toutes les équipes de recherche de Gustave Roussy, nous vous remercions
                    chaleureusement de votre confiance et de votre générosité.
                </h4>

            </div>
        </section>
    </div>

{% endblock %}
